html {
    font-size: medium;
    font-family: "Bitter";
    background-color: #fbf0d9;
}

.index-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* https://matthewjamestaylor.com/2-column-layouts */
.responsive-two-column-grid {
    display: block;
}
.responsive-two-column-grid div {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.responsive-two-column-grid img {
    width: 100%;
    border-radius: 10%;
}
/* tablet breakpoint */
@media (min-width: 768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.responsive-two-column-grid h3 {
    margin-top: 0em;
    margin-bottom: 0.2em;
}
.responsive-two-column-grid p {
    margin-top: 0em;
    margin-bottom: 0em;
}
.responsive-two-column-grid ul {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding-left: 1.2em;
}

/* https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ */
.gallery-body {
    margin: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.4em;
    padding-left: 8em;
    padding-right: 8em;
}
.gallery > li {
    flex: auto;
    height: 300px;
    position: relative;
}
.gallery::after {
    content: "";
    flex-grow: 999;
}
.gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5%;
}
