html {
    font-size: medium;
    font-family: "Bitter";
    background-color: rgb(255, 244, 200);
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* https://matthewjamestaylor.com/2-column-layouts */
/* container */
.two-columns {
    display: flex;
}

/* columns */
.two-columns > * {
    width: 50%;
}

.two-columns div,
img {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

h3 {
    margin-top: 0em;
    margin-bottom: 0.2em;
}

ul {
    padding-left: 1.2em;
}

footer {
    padding-top: 0.4em;
    text-align: center;
    font-size: small;
}

footer img {
    width: 20%;
}
