html {
    font-size: medium;
    font-family: "Bitter";
    background-color: #fbf0d9;
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* https://matthewjamestaylor.com/2-column-layouts */
/* container */
.responsive-two-column-grid {
    display: block;
}
.responsive-two-column-grid div {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.responsive-two-column-grid img {
    width: 100%;
    border-radius: 10%;
}
/* tablet breakpoint */
@media (min-width: 768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

h3 {
    margin-top: 0em;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0em;
    margin-bottom: 0em;
}

ul {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding-left: 1.2em;
}
